PORT=3000
ADMIN_USER=admin
ADMIN_PASS=GANTI_PASSWORD_ADMIN_YANG_KUAT
SESSION_SECRET=GANTI_SECRET_RANDOM_PANJANG

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=ALAMAT_GMAIL_PENGIRIM
SMTP_PASS=APP_PASSWORD_GMAIL
MAIL_TO=stasiungombong2026@gmail.com
MAIL_FROM_NAME=Form Izin Kerja
